.imgAbout {
  background-image: url('../../../assets/banner_about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  max-width: 900px;
  width: 80%;
  height: 750px;
  border-radius: 4rem 0 0 4rem;
  position: absolute;
  top: 150px;
  right: 0;
  z-index: -1;
  opacity: .8;
}

.content h1 {
  color: var(--color-5);
  font-size: var(--hero-header);
  margin-bottom: 0;
}

.content p {
  color: var(--color-5);
  opacity: .6;
  font-size: var(--body-txt);
  max-width: 560px;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.content button {
  margin-bottom: 112px;
}

@media (max-width: 900px) {
  .content h1 {
    font-size: calc(var(--hero-header) - 1rem);
  }
}

@media (max-width: 700px) {
  .content h1 {
    font-size: calc(var(--hero-header) - 2.5rem);
  }
}

@media (max-width: 550px) {
  .content h1 {
    font-size: calc(var(--hero-header) - 5rem);
  }
}

@media (max-width: 440px) {
  .content h1 {
    font-size: calc(var(--hero-header) - 7rem);
  }
}