.button {
  background-color: var(--color-3);
  color: var(--color-5);
  font-weight: 600;
  padding: 1.5rem;
  border: none;
  font-size: 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s;
  position: relative;
  z-index: 2;
}

.button:hover {
  background-color: var(--color-5);
  color: var(--color-3);
}